.header{
    background-image:none!important;
}
.passwordCard{
    width: 70%;
    margin:5% auto;
    border: none !important;
    box-shadow: 3px 3px 15px rgba(215, 215, 215, 0.845);

}

.passwordHeading{
    text-align: center;
    
}




.form-control{
    margin: 8% auto;
    font-size: 20px !important;
    padding: 2% 3% !important;
    width: 90% !important;
    border-radius:0.8rem !important ;
    -webkit-border-radius:0.8rem !important ;
    -moz-border-radius:0.8rem !important ;
    -ms-border-radius:0.8rem !important ;
    -o-border-radius:0.8rem !important ;
}
.buttons{
    display: flex;
    justify-content: center;
}
.greenBtn{
    background-color: #01854c !important;
    margin-left: 3%;
}
.sideImg{
    width: 100%;
    height: 100%;
}

.passwordSide{
    padding: 5% 0;
}